<h1> <%= @project.title %></h1>

<h3> Team: <%= link_to @team.name, team_url(@team)%> </h3>
<h3> Desc: <%= @project.description %> </h3>


<h3> Items: </h3>
<%=link_to "View all Items in Detail", project_items_url(@project) %>  
<br>
<br>
<% unless @project.items.empty? %>

<%= form_tag('/items/update_batch', :method=>:put) %>
  <% @project.items.each do |item| %>
    <li>
      <%= link_to item.title, item_url(item) %>
      <%= hidden_field_tag "item[#{item.id}][completed]", false %>
      <%= check_box_tag "item[#{item.id}][completed]", true, item.completed%>
    </li>
  <% end %>
  <br>
  <%= submit_tag "Update Items" %>
<% end %>





