<h1> <%= @item.title %></h1>

<h3> Details </h3>

<ul>
<li> Project: <%=link_to @item.project.title, project_url(@item.project)%> </li>
<li> Description: <%= @item.description %> </li>
<li> Complete: <%= @item.completed %> </li>


</ul>

<%= form_for @item do |f| %>
  <%= f.hidden_field :completed, :value => true %>
  <%= f.submit "Complete" %>
<% end %>

<%= form_for @item do |f| %>
  <%= f.hidden_field :completed, :value => false %>
  <%= f.submit "Incomplete" %>
<% end %>

<%= button_to "Delete", item_url(@item), :method => :delete%>